<div class="container">
    <div class="col">
        <div class="container prod">
            <div class="row align-items-center">
                <h1>Product List :</h1>
            </div>
            <br>
            <div class="c1">
                <form>
                    Search :
                    <input type="radio" name="reCateg" value="All" (click)="onAfficheAll()" checked>All
                    <input type="radio" name="reCateg" value="Chalet" (click)="onAffiche1('Chalet')"> Chalet
                    <input type="radio" name="reCateg" value="Nabeul" (click)="onAffiche2('Nabeul')">Nabeul
                </form>
            </div>

            <div class="row align-items-center">
                <div class="col">

                </div>
               
                <div class="col">
                </div>


            </div>
            <br>
            <table class="table table-dark table-striped text-center ">
                <thead>
                    <tr>
                        <th scope="col">Identifiant</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Libelle</th>
                        <th scope="col">Price</th>
                        <th width="17%" scope="col" class="taille">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of produits ">
                        <td>{{p.id}}</td>
                        <td> <img src="{{p.photo}}" alt="img" width="30%"></td>
                        <td>{{p.libelle | titlecase}}</td>
                        <td>{{p.prix|number: '.3' }} TND per night</td>
                        <td><button class="btn btn-primary" [routerLink]="['/listproduit' , p.id]"
                                class="btn btn-info">More</button> </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>