<div class="conainer">
    <h1 class="text-center">About our agence</h1>
    <br>
    <div class="row about">
        <p><span class="fw-bold"> <img src="../../../assets/travel.png" alt="" width="30" height="24"> BEST TUNISIA TRAVEL</span> is your best agence travel </p>
        <p>Facebook  page  ::::: Best Tunisia Travel :::::</p>
        <p>Phone number <i class="fa fa-tty" aria-hidden="true"> 70123321</i> <i class="fa fa-tty" aria-hidden="true"></i></p>
        <p>E-mail <i class="fa fa-envelope" aria-hidden="true"></i> besttravel@gmail.com <i class="fa fa-envelope" aria-hidden="true"></i></p>
    </div>
    <br>
    <div class="row">
        <p class="info">
            THIS APP MADE BY : <span class="fw-bold">ZAINEB AOUINI</span>
        </p> 
    </div>
    <br>
    <div class="row about">
        <div class="col-3"></div>
        <div class="col-6 text-center info">
            <h3 class="fw-bold">NAME : ZAINEB AOUINI</h3>
            <br>
            <div class="row">
                <div class="col">
                    <img src="../../../assets/zaineb.jpg" alt="">
                </div>
                <div class="col">
                    <br><br>
                   <!-- <i class="fa fa-facebook" aria-hidden="true"> Zaineb Aouini</i> <br>-->
                    <i class="fa fa-phone" aria-hidden="true"> 95352678</i><br>
                    <i class="fa fa-envelope" aria-hidden="true"> azayneb48@gmail.com</i><br>
                    <i class="fa fa-university" aria-hidden="true"> ISET Charguia</i><br>
                    <i class="fa fa-address-card" aria-hidden="true"> DSI</i>
                </div>
            </div>
        </div>
        <div class="col-6"></div>
    </div>
</div>
